In [15]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Setting the working directory

In [10]:
import os
os.getcwd()
os.chdir('D:\\Unlearn_Learn\\Deep_Learning_A_Z\\Volume 1 - Supervised Deep Learning\\
Part 1 - Artificial Neural Networks (ANN)\\Section 4 - Building an ANN\\Artificial_Neural_Networks\\Artificial_Neural_Networks')

In [11]:
### Checking the content of the directory
os.listdir()

['ann.py',
 'ann_homework_solution.py',
 'categorical_data.py',
 'Churn_Modelling.csv',
 'classification_template.py',
 'evaluating_improving_tuning.py',
 'Installations_Instructions.pdf']

### Importing the libraries

In [ ]:
%%time
import pandas as pd 
import numpy as npp
import matplotlib.pyplot as plt
import seasborn as sns
import tensorflow as tf
%matplotlib inline

### Getting the Data

In [17]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [24]:
data.columns
print(len(data.columns))

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

14

### Converting the categorical variables

In [46]:
data_dumm1 = pd.get_dummies(data['Geography'],drop_first=True,prefix='dumm')
data_dumm2 = pd.get_dummies(data.Gender,drop_first=True,prefix = 'dumm')
data_no_cat_var = data.drop(['Geography','Gender'],axis=1)

data_fin = pd.concat([data_no_cat_var,data_dumm1,data_dumm2],axis=1)
data_fin.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,dumm_Germany,dumm_Spain,dumm_Male
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [61]:
### Splitting the data into Target and Predictors
X = data_fin.drop(['RowNumber', 'CustomerId', 'Surname','Exited'],axis=1).values
y = data_fin[['Exited']].values

In [62]:
### Splitting into training and Test Data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [65]:
### Standardisation
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Building the ANN

In [67]:
### Importing the libraries
import keras

Using TensorFlow backend.

In [68]:
### Getting the modules from the Keras
### Sequential Module- to initialize the neural network
### Dense module - to build the layers of the ANN
from keras.models import Sequential
from keras.layers import Dense

In [69]:
### Initializing the ANN.. Defining the sequence of layers
classifier = Sequential()

In [70]:
### Adding input layer and the first hidden layer
### Thumb rule to find the number of nodes in the hidden layer = Average(no.of input nodes, output node)
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11)) ### Rectifier func - relu

In [71]:
### Adding the second hidden layer
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

In [72]:
### Adding the output layer
classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid')) ### Sigmoid Func - Sigmoid for binary output

### If the output has more than two levesl then we will be using activation ='softmax'

In [73]:
### Compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy']) 

### optimizer algo used to find the optimal set of weights for the neural network--stocashtic gradient decent
### Loss function here will be LOGARITHMIC LOSS.. If the output is binary in nature then LOGARITHMIC LOSS is binary_crossentropy 
### If the output  is of more than 2 levels then LOGARITMIC LOSS is categorical_crossentropy

In [74]:
### Fitting the ANN to the Training set
classifier.fit(X_train,y_train,batch_size=10, epochs=100)
### Batch size is the number of the observations after which weights gets updated
### Epoch is the number of time the entire data set set is passed through the ANN

Epoch 1/100
8000/8000 [==============================] - 3s - loss: 0.4847 - acc: 0.7959
Epoch 2/100
8000/8000 [==============================] - 1s - loss: 0.4214 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s - loss: 0.4100 - acc: 0.8052     - ETA: 1s - los
Epoch 4/100
8000/8000 [==============================] - 1s - loss: 0.4012 - acc: 0.8280
Epoch 5/100
8000/8000 [==============================] - 1s - loss: 0.3916 - acc: 0.8305
Epoch 6/100
8000/8000 [==============================] - 1s - loss: 0.3853 - acc: 0.8309
Epoch 7/100
8000/8000 [==============================] - 1s - loss: 0.3796 - acc: 0.8412
Epoch 8/100
8000/8000 [==============================] - 1s - loss: 0.3753 - acc: 0.8442
Epoch 9/100
8000/8000 [==============================] - 1s - loss: 0.3711 - acc: 0.8482
Epoch 10/100
8000/8000 [==============================] - 1s - loss: 0.3692 - acc: 0.8481
Epoch 11/100
8000/8000 [==============================] - 1s - loss: 0.3676 - acc: 0.8504
Epoch 12/100
8000/8000 [==============================] - 1s - loss: 0.3658 - acc: 0.8472
Epoch 13/100
8000/8000 [==============================] - 1s - loss: 0.3642 - acc: 0.8496
Epoch 14/100
8000/8000 [==============================] - 1s - loss: 0.3621 - acc: 0.8529
Epoch 15/100
8000/8000 [==============================] - 1s - loss: 0.3608 - acc: 0.8529
Epoch 16/100
8000/8000 [==============================] - 1s - loss: 0.3593 - acc: 0.8570
Epoch 17/100
8000/8000 [==============================] - 1s - loss: 0.3577 - acc: 0.8566
Epoch 18/100
8000/8000 [==============================] - 1s - loss: 0.3565 - acc: 0.8570
Epoch 19/100
8000/8000 [==============================] - 2s - loss: 0.3552 - acc: 0.8581
Epoch 20/100
8000/8000 [==============================] - 1s - loss: 0.3537 - acc: 0.8579
Epoch 21/100
8000/8000 [==============================] - 1s - loss: 0.3534 - acc: 0.8567
Epoch 22/100
8000/8000 [==============================] - 1s - loss: 0.3519 - acc: 0.8585
Epoch 23/100
8000/8000 [==============================] - 1s - loss: 0.3521 - acc: 0.8562
Epoch 24/100
8000/8000 [==============================] - 1s - loss: 0.3513 - acc: 0.8575
Epoch 25/100
8000/8000 [==============================] - 1s - loss: 0.3502 - acc: 0.8595
Epoch 26/100
8000/8000 [==============================] - 1s - loss: 0.3501 - acc: 0.8599
Epoch 27/100
8000/8000 [==============================] - 1s - loss: 0.3501 - acc: 0.8564     - ETA: 0s - loss: 0.3539 - acc:
Epoch 28/100
8000/8000 [==============================] - 1s - loss: 0.3493 - acc: 0.8587
Epoch 29/100
8000/8000 [==============================] - 1s - loss: 0.3487 - acc: 0.8585
Epoch 30/100
8000/8000 [==============================] - 1s - loss: 0.3482 - acc: 0.8580
Epoch 31/100
8000/8000 [==============================] - 1s - loss: 0.3485 - acc: 0.8596
Epoch 32/100
8000/8000 [==============================] - 1s - loss: 0.3484 - acc: 0.8586
Epoch 33/100
8000/8000 [==============================] - 1s - loss: 0.3473 - acc: 0.8614
Epoch 34/100
8000/8000 [==============================] - 1s - loss: 0.3477 - acc: 0.8592
Epoch 35/100
8000/8000 [==============================] - 1s - loss: 0.3482 - acc: 0.8565     - ETA: 0s - loss: 0.3432 - acc: 0.
Epoch 36/100
8000/8000 [==============================] - 1s - loss: 0.3473 - acc: 0.8590
Epoch 37/100
8000/8000 [==============================] - 1s - loss: 0.3480 - acc: 0.8590
Epoch 38/100
8000/8000 [==============================] - 1s - loss: 0.3459 - acc: 0.8576
Epoch 39/100
8000/8000 [==============================] - 1s - loss: 0.3459 - acc: 0.8586
Epoch 40/100
8000/8000 [==============================] - 1s - loss: 0.3459 - acc: 0.8610
Epoch 41/100
8000/8000 [==============================] - 1s - loss: 0.3451 - acc: 0.8594
Epoch 42/100
8000/8000 [==============================] - 1s - loss: 0.3450 - acc: 0.8586
Epoch 43/100
8000/8000 [==============================] - 1s - loss: 0.3451 - acc: 0.8584
Epoch 44/100
8000/8000 [==============================] - 1s - loss: 0.3441 - acc: 0.8586
Epoch 45/100
8000/8000 [==============================] - 1s - loss: 0.3436 - acc: 0.8589
Epoch 46/100
8000/8000 [==============================] - 1s - loss: 0.3438 - acc: 0.8606
Epoch 47/100
8000/8000 [==============================] - 1s - loss: 0.3438 - acc: 0.8604
Epoch 48/100
8000/8000 [==============================] - 1s - loss: 0.3429 - acc: 0.8605
Epoch 49/100
8000/8000 [==============================] - 1s - loss: 0.3423 - acc: 0.8585
Epoch 50/100
8000/8000 [==============================] - 1s - loss: 0.3431 - acc: 0.8600
Epoch 51/100
8000/8000 [==============================] - 1s - loss: 0.3419 - acc: 0.8599
Epoch 52/100
8000/8000 [==============================] - 1s - loss: 0.3422 - acc: 0.8609
Epoch 53/100
8000/8000 [==============================] - 1s - loss: 0.3414 - acc: 0.8606
Epoch 54/100
8000/8000 [==============================] - 1s - loss: 0.3414 - acc: 0.8580
Epoch 55/100
8000/8000 [==============================] - 1s - loss: 0.3413 - acc: 0.8574
Epoch 56/100
8000/8000 [==============================] - 1s - loss: 0.3406 - acc: 0.8597
Epoch 57/100
8000/8000 [==============================] - 1s - loss: 0.3409 - acc: 0.8614
Epoch 58/100
8000/8000 [==============================] - 1s - loss: 0.3406 - acc: 0.8612     - ETA: 1s - lo
Epoch 59/100
8000/8000 [==============================] - 1s - loss: 0.3409 - acc: 0.8592
Epoch 60/100
8000/8000 [==============================] - 1s - loss: 0.3407 - acc: 0.8599
Epoch 61/100
8000/8000 [==============================] - 1s - loss: 0.3406 - acc: 0.8596
Epoch 62/100
8000/8000 [==============================] - 1s - loss: 0.3400 - acc: 0.8590
Epoch 63/100
8000/8000 [==============================] - 1s - loss: 0.3391 - acc: 0.8592
Epoch 64/100
8000/8000 [==============================] - 1s - loss: 0.3396 - acc: 0.8610     - ETA: 1s - los
Epoch 65/100
8000/8000 [==============================] - 1s - loss: 0.3394 - acc: 0.8614
Epoch 66/100
8000/8000 [==============================] - 1s - loss: 0.3393 - acc: 0.8616
Epoch 67/100
8000/8000 [==============================] - 1s - loss: 0.3387 - acc: 0.8619
Epoch 68/100
8000/8000 [==============================] - 1s - loss: 0.3389 - acc: 0.8612
Epoch 69/100
8000/8000 [==============================] - 1s - loss: 0.3390 - acc: 0.8629
Epoch 70/100
8000/8000 [==============================] - 1s - loss: 0.3392 - acc: 0.8590
Epoch 71/100
8000/8000 [==============================] - 1s - loss: 0.3387 - acc: 0.8600
Epoch 72/100
8000/8000 [==============================] - 1s - loss: 0.3383 - acc: 0.8622
Epoch 73/100
8000/8000 [==============================] - 1s - loss: 0.3383 - acc: 0.8610
Epoch 74/100
8000/8000 [==============================] - 1s - loss: 0.3378 - acc: 0.8602
Epoch 75/100
8000/8000 [==============================] - 1s - loss: 0.3379 - acc: 0.8609
Epoch 76/100
8000/8000 [==============================] - 1s - loss: 0.3385 - acc: 0.8617
Epoch 77/100
8000/8000 [==============================] - 1s - loss: 0.3390 - acc: 0.8610
Epoch 78/100
8000/8000 [==============================] - 1s - loss: 0.3392 - acc: 0.8612
Epoch 79/100
8000/8000 [==============================] - 1s - loss: 0.3384 - acc: 0.8615
Epoch 80/100
8000/8000 [==============================] - 1s - loss: 0.3373 - acc: 0.8619
Epoch 81/100
8000/8000 [==============================] - 1s - loss: 0.3379 - acc: 0.8601
Epoch 82/100
8000/8000 [==============================] - 1s - loss: 0.3385 - acc: 0.8601
Epoch 83/100
8000/8000 [==============================] - 1s - loss: 0.3388 - acc: 0.8597
Epoch 84/100
8000/8000 [==============================] - 1s - loss: 0.3373 - acc: 0.8611
Epoch 85/100
8000/8000 [==============================] - 1s - loss: 0.3378 - acc: 0.8612
Epoch 86/100

8000/8000 [==============================] - 1s - loss: 0.3380 - acc: 0.8631
Epoch 87/100
8000/8000 [==============================] - 1s - loss: 0.3365 - acc: 0.8624
Epoch 88/100
8000/8000 [==============================] - 1s - loss: 0.3372 - acc: 0.8617
Epoch 89/100
8000/8000 [==============================] - 1s - loss: 0.3382 - acc: 0.8605
Epoch 90/100
8000/8000 [==============================] - 1s - loss: 0.3376 - acc: 0.8611
Epoch 91/100
8000/8000 [==============================] - 1s - loss: 0.3372 - acc: 0.8621     - ETA: 0s - loss: 0.3394 - acc
Epoch 92/100
8000/8000 [==============================] - 1s - loss: 0.3377 - acc: 0.8619
Epoch 93/100
8000/8000 [==============================] - 1s - loss: 0.3368 - acc: 0.8630
Epoch 94/100
8000/8000 [==============================] - 1s - loss: 0.3359 - acc: 0.8625
Epoch 95/100
8000/8000 [==============================] - 1s - loss: 0.3384 - acc: 0.8616
Epoch 96/100
8000/8000 [==============================] - 1s - loss: 0.3370 - acc: 0.8619
Epoch 97/100
8000/8000 [==============================] - 1s - loss: 0.3376 - acc: 0.8627
Epoch 98/100
8000/8000 [==============================] - 1s - loss: 0.3372 - acc: 0.8622
Epoch 99/100
8000/8000 [==============================] - 1s - loss: 0.3372 - acc: 0.8621
Epoch 100/100
8000/8000 [==============================] - 1s - loss: 0.3370 - acc: 0.8607

In [78]:
### Predicting the test data
y_pred = classifier.predict(X_test) ## output is the probability
#y_pred

### Converting the probab into 1 and 0 by setting the threshold
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]], dtype=bool)

array([[0],
       [1],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [79]:
### Evaluation Metric - confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1508,   87],
       [ 197,  208]], dtype=int64)

In [80]:
Acc = (1508+208)/(1508+87+197+208)
Acc

0.858